
    <div class="root-container"
         ng-class="{'root-container-{{vm.theme}}':true}"
         tabindex="0"
         q2g-shortcut-scope="rootelement">
            <table q2g-shortcut
                   shortcut="[{name:'clearselection', shortcut:vm.properties.shortcutClearSelection}]"
                   shortcut-action="vm.shortcutHandler(shortcutObject, domcontainer)"
                   class="rootTable">
                <tr>
                    <td q2g-shortcut-scope
                        class="doublePage dimensionList"
                        q2g-shortcut
                        shortcut="[{name:'escDimension', shortcut:'27'}]"
                        shortcut-action="vm.shortcutHandler(shortcutObject, domcontainer)">
                        <div>
                            <q2g-extension-header max-number-of-elements="4"
                                                  reserved-button-width="0.5"
                                                  title="vm.titleDimension"
                                                  theme="vm.theme"

                                                  input-accept="vm.inputAcceptDimensions"
                                                  input-cancel="vm.inputCancelDimensions"
                                                  input-field="vm.textSearchDimension"
                                                  input-bar-visible="vm.showSearchFieldDimension"

                                                  menu-visible="vm.showButtonsDimension"
                                                  menu-callback="vm.menuListActionCallback(item)"
                                                  menu-list="vm.menuListDimension"
                                                  
                                                  shortcut-searchfield="'strg + alt + 83'">
                            </q2g-extension-header>
                        </div>
                        <div style="position:relative"
                             q2g-shortcut
                             shortcut="[
                            {name:'focusDimensionList', shortcut:vm.properties.shortcutFocusDimensionList, rootscope: '|global|'}]"
                             shortcut-action="vm.shortcutHandler(shortcutObject, domcontainer)"
                             keycode-override="[]">
                            <q2g-listview ng-style="{'height': vm.elementHeight-42+'px'}"
                                          tabindex="0"
                                          items="vm.dimensionList.collection"
                                          items-count="vm.dimensionList.itemsCounter"
                                          items-page-top="vm.dimensionList.itemsPagingTop"
                                          items-page-size="vm.dimensionList.itemsPagingHeight"
                                          item-height="31"
                                          item-focused="vm.focusedPositionDimension"
                                          show-focused="vm.showFocusedDimension"
                                          callback-listview-objects="vm.selectDimensionObjectCallback(pos)"
                                          theme="vm.theme">
                            </q2g-listview>
                        </div>

                    </td>
                    <td q2g-shortcut-scope
                        class="doublePage valueList"
                        q2g-shortcut
                        shortcut="[{name:'escValues', shortcut:'27'}]"
                        shortcut-action="vm.shortcutHandler(shortcutObject, domcontainer)">
                        <q2g-extension-header max-number-of-elements="4"
                                              reserved-button-width="0.5"
                                              title="vm.titleValues"
                                              theme="vm.theme"

                                              input-accept="vm.inputAcceptValues"
                                              input-cancel="vm.inputCancelValues"
                                              input-field="vm.textSearchValue"
                                              input-bar-visible="vm.showSearchFieldValues"

                                              menu-visible="vm.showButtonsValue"
                                              menu-callback="vm.menuListActionCallback(item)"
                                              menu-list="vm.menuListValues"

                                              shortcut-searchfield="'strg + alt + 83'"
                                              is-locked="vm.lockMenuListValues">

                        </q2g-extension-header>
                        <div style="position:relative"
                             q2g-shortcut
                             shortcut="[
                             {name:'focusValueList', shortcut:vm.properties.shortcutFocusValueList, rootscope: '|global|'}]"
                             shortcut-action="vm.shortcutHandler(shortcutObject, domcontainer)">
                            <!--<q2g-listview style="height: calc(100% - 90px);"
                                          tabindex="0"
                                          items="vm.valueList.collection"
                                          items-count="vm.valueList.itemsCounter"
                                          items-page-top="vm.valueList.itemsPagingTop"
                                          items-page-height="vm.valueList.itemsPagingHeight"
                                          item-height="31"
                                          item-focused="vm.focusedPositionValues"
                                          show-focused="vm.showFocusedValue"
                                          callback-listview-objects="vm.selectListObjectCallback(pos, event)"
                                          override-shortcuts="[{name:'up', shortcut: '79'}, {name:'down', shortcut: '80'}]">
                            </q2g-listview>-->
                            <q2g-listview ng-style="{'height': vm.elementHeight-42+'px'}"
                                          tabindex="0"
                                          items="vm.valueList.collection"
                                          items-count="vm.valueList.itemsCounter"
                                          items-page-top="vm.valueList.itemsPagingTop"
                                          items-page-size="vm.valueList.itemsPagingHeight"
                                          item-height="31"
                                          item-focused="vm.focusedPositionValues"
                                          show-focused="vm.showFocusedValue"
                                          callback-listview-objects="vm.selectListObjectCallback(pos, event)"
                                          theme="vm.theme">
                            </q2g-listview>
                        </div>
                    </td>
                </tr>
            </table>

            <div style="position: absolute; bottom: 0px;"
                 class="status"
                 ng-if="vm.useReadebility"
                 tabindex="0">
                <q2g-status-text statustext="vm.statusText" statustime=vm.timeAriaIntervall></q2g-status-text>
            </div>
            <q2g-akquinet-identifier show="vm.isEditMode()"></q2g-akquinet-identifier>

        <div ng-if="vm.isEditMode()"
             class="editMode"></div>
    </div>
